<% content_for :title, "New Question" %>
<div class="container mx-auto px-4 py-8">
  <h1 class="text-2xl font-bold mb-6">New Question</h1>

  <%= render 'form' %>

  <div class="mt-4">
    <%= link_to 'Back', questions_path, class: "text-blue-600 hover:text-blue-800" %>
  </div>
</div>