!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1 Welcome to Answers 2 Answers, #{@user.email}!
    %p
      You have successfully signed up to Answers 2 Answers.
      %br/
    %p
      To login to the site, just follow this link: #{@url}.
    %p
      If you did not sign up for Answers 2 Answers, it is highly likely that someone added you to a group,
      and wants to start answering questions with you.  Please check your inbox for an additional email, welcoming you
      to a group.
    %p Thanks for joining and have a great day!
