<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <div class="header">
      <h1>Welcome to Answers 2 Answers!</h1>
      <p>We're excited to have you join us</p>
    </div>

    <div class="content">
      <p>Hello <%= @user.email %>!</p>

      <p>
        You have successfully signed up to Answers 2 Answers.
      </p>

      <p>
        If you did not sign up for Answers 2 Answers, it is highly likely that someone added you to a group,
        and wants to start answering questions with you. Please check your inbox for an additional email, welcoming you
        to a group.
      </p>

      <%= link_to 'Go to Answers 2 Answers', @url, class: 'button' %>

      <p>Thanks for joining and have a great day!</p>
    </div>

    <div class="footer">
      <p>This email was sent from Answers 2 Answers</p>
    </div>
  </body>
</html>