<div class="border-b border-gray-200">
  <nav class="flex -mb-px space-x-6 sm:space-x-8">
    <%= link_to digests_group_path(@group), class: "py-4 px-1 sm:px-4 text-center border-b-2 font-medium text-sm #{(controller.action_name == 'digests' || (controller.action_name == 'show' && !params[:tab])) ? 'border-blue-500 text-blue-600' : 'border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300'}" do %>
      <span class="block">Digests</span>
    <% end %>

    <%= link_to questions_group_path(@group), class: "py-4 px-1 sm:px-4 text-center border-b-2 font-medium text-sm #{controller.action_name == 'questions' ? 'border-blue-500 text-blue-600' : 'border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300'}" do %>
      <span class="block">Questions</span>
    <% end %>

    <% if current_user == @group.leader %>
      <%= link_to group_cycles_path(@group),
          class: "py-4 px-1 sm:px-4 text-center border-b-2 font-medium text-sm #{controller.controller_name == 'group_cycles' ? 'border-blue-500 text-blue-600' : 'border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300'}" do %>
        <span class="block">Manage Cycles</span>
      <% end %>
    <% end %>
  </nav>
</div>