<div class="border-b border-gray-200">
  <nav class="flex space-x-6 sm:space-x-8 md:space-x-12 px-4 sm:px-6 md:px-8" aria-label="Tabs">
    <%= link_to digests_group_path(@group),
        class: "#{controller.action_name == 'digests' ? 'border-indigo-500 text-gray-900' : 'border-transparent text-gray-500'} whitespace-nowrap py-3 sm:py-4 px-4 sm:px-5 md:px-6 border-b-2 font-medium text-sm md:text-base hover:text-gray-700 hover:border-gray-300 flex-1 text-center sm:text-left sm:flex-none" do %>
      Q&A Digests
    <% end %>

    <%= link_to questions_group_path(@group),
        class: "#{controller.action_name == 'questions' ? 'border-indigo-500 text-gray-900' : 'border-transparent text-gray-500'} whitespace-nowrap py-3 sm:py-4 px-4 sm:px-5 md:px-6 border-b-2 font-medium text-sm md:text-base hover:text-gray-700 hover:border-gray-300 flex-1 text-center sm:text-left sm:flex-none" do %>
      Question Library
    <% end %>
  </nav>
</div>