.min-h-screen.flex.flex-col.items-center.justify-center.py-12.px-4.sm:px-6.lg:px-8
  .max-w-4xl.w-full.space-y-8.text-center
    %h1.site-title Answers 2 Answers

    %h2.text-3xl.font-extrabold.text-gray-900.mt-8
      A Weekly Question and Answer Digest for Groups

  = render "layouts/footer"
