<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>You have been invited to a Group on Answers 2 Answers!</h1>
    <p>
      If you are already a member of Answers 2 Answers, follow the link below to login and check out the group.
    </p>
    <p>
      If you aren't yet a member,
      <span><%= link_to('click here', new_user_password_url) %></span>
      <span>to set a password for this email address. Please make sure you use the following email:</span>
      <span><%= @email %></span>
    </p>
    <p>
      To log in to the site, just follow
      <span><%= link_to('this link.', group_url(@group_id)) %></span>
    </p>
  </body>
</html>