<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <div class="header">
      <h1>Welcome to Answers 2 Answers!</h1>
      <h2>You've been invited to join <%= @group.name %></h2>
    </div>

    <div class="content">
      <% if @user.encrypted_password.present? %>
        <%# Existing user flow %>
        <p>Click the link below to accept the invitation and join the group:</p>
        <p><%= link_to 'Accept Invitation', @accept_url, class: 'button' %></p>
      <% else %>
        <%# New user flow %>
        <p>To join <%= @group.name %>, you'll need to set up your account first:</p>

        <p>
          <%= link_to 'Set Up Your Account',
              new_user_password_url(
                email: @user.email,
                invitation_token: @invitation_token
              ),
              class: 'button'
          %>
        </p>

        <p>After setting your password, you'll automatically be added to the group.</p>
      <% end %>

      <p>If you didn't expect this invitation, you can safely ignore this email.</p>
    </div>

    <div class="footer">
      <p>This email was sent from Answers 2 Answers</p>
    </div>
  </body>
</html>