<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <div class="header">
      <h1><%= @group_name %> - Weekly Question</h1>
      <p>Time to reflect and share your thoughts!</p>
    </div>

    <div class="content">
      <p class="question" style="font-size: 18px; font-weight: 500; margin-bottom: 24px;">
        <%= @question %>
      </p>

      <p>
        Join the discussion by clicking the button below:
      </p>

      <%= link_to 'Answer Question', group_url(@group_id), class: 'button' %>
    </div>

    <div class="footer">
      <p>This email was sent from Answers 2 Answers</p>
    </div>
  </body>
</html>