%li.divider
%li.has-dropdown
  %a{href: "learn/features.html"} Learn
  %ul.dropdown
    %li
      %a{href: "learn/features.html"} Features
    %li
      %a{href: "learn/faq.html"} FAQ
%li.divider
%li.has-dropdown
  %a{href: "templates.html"} Develop
  %ul.dropdown
    %li
      %a{href: "templates.html"} Add-ons
    %li
      %a{href: "/docs"} Docs
%li.divider
%li.has-dropdown
  %a{href: "support/support.html"} Support
  %ul.dropdown
    %li
      %a{href: "support/support.html"} Support Channels
    %li
      %a{href: "/forum"} Foundation Forum
%li.divider
%li.has-dropdown
  %a{href: "business/services.html"} Business
%li.divider
%li
  %a{href: "/docs"} Docs
%li.divider
%li.has-form
  %a.small.button{href: "/docs"} Getting Started
