%li.divider
%li
  %ul.devise_navigation
    - if user_signed_in?
      %li= link_to 'Sign out', destroy_user_session_path, method: 'delete'
    - else
      %li= link_to 'Sign in', new_user_session_path
%li.divider
%li
  %ul
  - if user_signed_in?
    %li= link_to 'Questions', questions_path
    %li.divider
    %li= link_to 'Profile', user_path(current_user)
%li.divider
%li.has-form
  - unless user_signed_in?
    %a.small.button{href: new_user_registration_path} I'm Ready!
