<nav class="bg-gray-800 sticky top-0">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex-shrink-0">
        <h1 class="text-white"><%= link_to 'Answers 2 Answers', root_path %></h1>
      </div>
      <div class="hidden md:block">
        <div class="ml-auto">
          <%= render 'layouts/navigation_links' %>
        </div>
      </div>
      <div class="md:hidden">
        <button class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none" aria-controls="mobile-menu" aria-expanded="false" type="button">
          <span class="sr-only">Toggle menu</span>
          Menu
        </button>
      </div>
    </div>
  </div>
</nav>