<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>/* Email styles need to be inline */</style>
  </head>
  <body><%= yield %>
    <!-- This hidden element carries the reply delimiter so that it appears in the plain text version -->
    <div style="display:none; white-space: pre-wrap;">
      <%= ApplicationMailer::REPLY_DELIMITER %>
    </div>
  </body>
</html>
